*{
    margin:0;
    padding:0;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

.site-init h1{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    height: 7vh;
    background-color: rgb(131, 127, 127);
    color: rgb(88, 3, 3);
    font-weight: 600;
    margin-top: 1rem;
    border-radius: 100px;
    border: 1px solid red;
}

/* .site-init h1{
    
} */

.site-init nav a{
    
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    margin-top: 2rem;
    margin-left: 47%;
    margin-bottom: 2rem;
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    height: 30vh;
    background-color: rgb(131, 127, 127);
    color: rgb(88, 3, 3);
    border: 1px solid red;
    border-radius: 25px;
}
.login-container label{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.login-container input{
    width:15rem;
    padding:5px;
    margin-bottom: .75rem;
    margin-left: 1rem;
    margin-right:1rem;
}

.login-container button{
    padding: 0.5rem;
    margin-top: 2rem;
    background-color: black;
    width: 5rem;
    color: white;
    border: 1px solid red;
    border-radius: 20px;
    cursor: pointer;
}

.site-register h1{

    display: flex;
    padding-top: 2rem;
    justify-content: center;
    height: 12vh;
    background-color: rgb(131, 127, 127);
    color: rgb(88, 3, 3);
    font-weight: 600;
    margin-top: 1rem;
    border-radius: 100px;
    border: 2px solid rgb(88, 3, 3);
    
    /* justify-content: center;
    margin-top: 3rem;
    height: 6vh;  */

}

/* .registration a{ */
.site-register nav a{ 
    flex-direction: row-reverse;
    width: fit-content;
    margin-top: 2rem;
    margin-left: 50%;
    margin-bottom: 5rem;
    text-decoration: none;
    /* border:1px solid orangered; */
     /* justify-content: center; */
}
.form-container{
    display: flex;
    background-color: rgb(131, 127, 127);
    margin-left: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top:35rem;
    height:75vh;
    width:40vw;
    border-radius: 25px;
    padding: 2rem;
    border: 2px solid rgb(88, 3, 3);
}
.form-container h2{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: rgb(88, 3, 3);
}
.form-container input{
    width:15rem;
    padding:5px;
    margin-bottom: .5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.form-container button{
    
    background-color: black;
    width: 5rem;
    margin-top: 1rem;
    color: white;
    border-radius: 20px;
    border:1px solid rgb(88, 3, 3) ;
    padding: 0.5rem;
    cursor: pointer;
}
/* this is for register */
.input-error{
    background-color:  rgb(242, 120, 63);
}